<!-- template for the sensor history page (row of the table), contain
   summary table
   { "_id" : "v9E9LkeD4H3jyiXF7",
   "topic" : "iot/T/esp8266/I/8bfb4a/D/sensor/F/json",
   "message" : { "Type" : "ESP_OTA_DHT22",
                 "Version" : "0.0.1",
                 "ChipId" : "8bfb4a",
                 "Humidity" : 42,
                 "Temperature" : 26.4,
                 "Battery" : 9 },
   "timestamp" : 1478611152230,
   "score" : 0,
   "id" : "iot/T/esp8266/I/8bfb4a/D/sensor/F/json" }

-->

<template name="sensor_lastValues_ESP_OTA_DHT22_page">
    <!-- summary table  -->
    <h1>HISTORY</h1>
    <!--{{> c3 data=temperature id="chart1"}}
    {{> c3 data=humidity id="chart2"}}
        {{> c3 data=battery id="chart3"}} -->

    {{> analysisChart}}

    {{> reactiveTable settings=ESP_OTA_DHT22_table}}

</template>

<template name="sensor_lastValues_analysisChart">
    <canvas id="chart-1" class="mychart" height="100" width="100"></canvas>
    <canvas id="chart-temp" class="mychart" height="100" width="100"></canvas>
    <canvas id="chart-hum" class="mychart" height="400" width="400"></canvas>
</template>